@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* Normalización de elementos de formulario */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
  /* background-color: transparent; */
  color: inherit;
}

/* Configuración de accesibilidad básica */
button {
  cursor: pointer;
}

/* Variables */
:root {
  --primary-color: #c7a17a;
  --background-color: #f9f5f0;
  --dark-color: #151515;
}

/* Estilos Genericos/Utilidades */
.container {
  max-width: 128rem;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h2 {
  font-size: 2rem;
}

/* HEADER */
.top-header-container-background {
  background-color: var(--background-color);
}

.top-header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 0;
}

.customer-support {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.customer-support a i {
  font-size: 3.3rem;
}

.customer-support-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  font-size: 1rem;
}

.logo a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
}

.logo a i {
  font-size: 3rem;
}

.user-log-and-shopping-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user-log-and-shopping-cart a > i {
  padding: 0px 1rem;
}

.user-log-and-shopping-cart a > i,
.shopping-cart a > i {
  font-size: 3rem;
}

.user-log-and-shopping-cart a > i:hover,
.shopping-cart a > i:hover {
  color: var(--primary-color);
}

.shopping-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-left: 1px solid black;
}

.shopping-cart-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  font-size: 1rem;
}

/* Navbar */
.navbar-container-background {
  background-color: var(--primary-color);
}

.navbar-options > i {
  display: none;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-options .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: 1.3rem;
  color: var(--dark-color);
  font-weight: 600;
  text-transform: uppercase;
}

.menu li a:hover {
  color: white;
}

.search-bar-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 2rem;
  background-color: white;
  height: 3.5rem;
  padding: 0.2rem;
  overflow: hidden;
}

.search-bar-form .search-input {
  max-width: 20rem;
  height: 100%;
  font-size: 1.4rem;
  padding: 0 2rem;
  color: gray;
}

.search-bar-form .btn-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1.4rem;

  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.search-bar-form .btn-search:hover {
  background-color: black;
}

.search-bar-form .btn-search i {
  font-size: 1.5rem;
  color: white;
}

/* BANNER */
.hero-banner {
  background-image: linear-gradient(100deg, #000000, #00000020),
    url(img/banner.jpg);
  background-position: center;
  background-size: cover;
  object-fit: cover;

  width: 100%;
  height: 60rem;
}

.hero-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;

  max-width: 90rem;
  height: 100%;
  margin: 0 auto;
  padding: 25rem 0;
}

.hero-banner-content p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
}

.hero-banner-content h2 {
  color: white;
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero-banner-content a {
  color: white;
  padding: 1rem 3rem;
  text-transform: uppercase;

  font-size: 1.3rem;
  background-color: var(--primary-color);
  border-radius: 3rem;
}

/* MAIN */
/* SECTION1: FEATURES */

main {
  background-color: var(--background-color);
  padding-bottom: 3rem;
}

.container-features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 3rem 0px;
}

.features-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;

  max-width: 30rem;
  background-color: white;
  border: 2px solid var(--primary-color);
  padding: 2rem;
  border-radius: 3rem;
}

.features-card i {
  font-size: 3rem;
  color: var(--primary-color);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  color: rgb(44, 44, 44);
}

.card-content > h4 {
  color: black;
  font-size: 1.2rem;
}

.card-content > p {
  font-size: 1rem;
  font-size: 1.1rem;
  color: rgba(59, 57, 57, 0.781);
}

/* SECTION2: Top Categories */
.top-categories-container > h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 400;
}

.top-categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-template-rows: auto;
  gap: 3rem;

  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.top-categories-grid .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  height: 20rem;
  width: 100%;
  border-radius: 3rem;
  background-position: center;
  background-size: cover;
  object-fit: cover;

  font-size: 1.5rem;
  color: white;

  position: relative;
}

.top-categories-grid .card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6%;
  height: 2px;
  background-color: var(--background-color);
}

.top-categories-grid .card .card-tittle {
  font-size: 2rem;
}

.top-categories-grid .card-text:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.top-categories-grid .card1 {
  background-image: linear-gradient(100deg, #000000, #00000020),
    url(img/moca-category.jpg);
  background-position: bottom;
}

.top-categories-grid .card2 {
  background-image: linear-gradient(100deg, #000000, #00000020),
    url(img/expreso-category.jpg);
}

.top-categories-grid .card3 {
  background-image: linear-gradient(100deg, #000000, #00000020),
    url(img/capuchino-category.jpg);
}

/* SECTION3: Best Products */
.best-products-container > h2 {
  text-align: center;
  margin: 3rem 0px;
  font-size: 3rem;
  font-weight: 400;
}

.best-products-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-bottom: 3rem;
}

.best-products-options span {
  font-size: 1.4rem;
  color: var(--dark-color);
  background-color: var(--background-color);
  padding: 1rem 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 3rem;
}

.best-products-options span:hover {
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* Products Cards Grid*/
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  grid-template-rows: auto;
  gap: 3rem;
}

.product-card {
  border-radius: 3rem;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: white;
}

.product-card .container-img {
  position: relative;
  padding: 0rem 3rem;
}

.product-card .container-img .discount {
  font-size: 1.3rem;
  position: absolute;
  top: 3rem;
  left: 3rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
}

.product-card:hover .container-img .discount {
  background-color: #000000;
  cursor: pointer;
}

.mini-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  position: absolute;
  top: 3rem;
  right: -3rem;
  font-size: 1.8rem;
  z-index: -1;
  transition: all 0.4s ease;
}

.mini-buttons span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  padding: 0.7rem;
}

.product-card:hover .mini-buttons {
  z-index: 1;
  right: 3rem;
  transition: all 0.4s ease;
}

.mini-buttons span:hover {
  color: white;
  background-color: black;
  border: 1px solid black;
  cursor: pointer;
}

.product-card-content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "stars stars"
    "info info"
    "description prices";

  padding: 3rem;
  padding-top: 0rem;
  padding-bottom: 2rem;

  place-content: center;
  place-items: center;
  gap: 0.5rem;
}

.stars-container {
  grid-area: stars;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.3rem;
  color: var(--primary-color);
}

.product-card-content h3 {
  grid-area: info;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.add-to-cart-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  padding: 1rem;
  font-size: 1rem;

  grid-area: description;
  font-size: 2rem;
  justify-self: start;
}

.add-to-cart-logo:hover {
  color: white;
  background-color: var(--primary-color);
}

.prices-container {
  grid-area: prices;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.prices-container .normal-price {
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: line-through;
}

/* SECTION4: Galeria */

.gallery-container {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, minmax(30rem, 1fr));

  justify-items: center;
  align-items: center;
  gap: 3rem;
}

.gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-galery3 {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
}

/* SECTION6: Last Blogs */

.last-blogs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-template-rows: auto;
  gap: 3rem;
}

.last-blogs h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
}

.last-blog-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
  gap: 2rem;
  overflow: hidden;
}

.last-blog-card .img-container {
  position: relative;
  cursor: pointer;
}

.last-blog-card .img-container .buttons-icons {
  position: absolute;
  bottom: 1rem;
  right: -4rem;
  display: flex;
  gap: 0.5rem;
  z-index: -1;
  transition: all 0.3s ease;
}

.buttons-icons .blog-card-icons {
  background-color: white;
  color: black;
  padding: 0.8rem;
  font-size: 1.6rem;
  border-radius: 50%;
  place-content: center;
}

.blog-card-icons:hover {
  background-color: #000000;
  color: white;
}

.last-blog-card .img-container:hover .buttons-icons {
  right: 1rem;
  z-index: 1;
  transition: all 0.3s ease;
}

.blog-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
  font-size: 1.4rem;
  padding: 1rem;
}

.blog-card-content h4 {
  font-weight: 500;
  font-size: 1.8rem;
}

.blog-card-date {
  font-size: 1.3rem;
  font-weight: 400;
}

.blog-card-content p {
  font-size: 1.4rem;
  color: gray;
}

.blog-card-content .blog-card-date {
  color: var(--primary-color);
}

.blog-card-content .read-more-btn {
  color: white;
  border-radius: 3rem;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  margin: 1.5rem 0px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.read-more-btn:hover {
  background-color: var(--dark-color);
  color: var(--background-color);
}

/* FOOTER */
.footer {
  background-color: var(--primary-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3rem 0;
}

.menu-footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-template-rows: auto;
  gap: 3rem;
  justify-items: start;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.308);
}

.tittle-footer {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.contact-info,
.information,
.user-account,
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-info ul,
.information ul,
.user-account ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-info li,
.information li,
.user-account li {
  color: white;
  font-weight: 300;
  font-size: 1.4rem;
}

.information li:hover,
.user-account li:hover {
  color: black;
}

.social-icons {
  display: flex;
  gap: 1.5rem;
}

.social-icons span {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-content: center;
}

.social-icons span i {
  color: white;
  font-size: 1.2rem;
}

.facebook-icon {
  background-color: #3b5990;
}

.twitter-icon {
  background-color: #00acee;
}

.youtube-icon {
  background-color: #c4302b;
}

.pinterest-icon {
  background-color: #c8232c;
}

.instagram-icon {
  background: linear-gradient(
    #405de6,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #fcaf45
  );
}

.newsletter-content {
  color: white;
  font-weight: 300;
  font-size: 1.4rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--primary-color);
}

.footer-form input {
  background-color: var(--primary-color);
  padding: 1rem 0;
  color: var(--dark-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.411);
}

.footer-form input::placeholder {
  color: white;
  opacity: 1;
}

.footer-form button {
  color: white;
  background-color: black;
  align-self: start;

  padding: 1.2rem 3rem;
  border-radius: 3rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
}

/* Copyright */
.copyright {
  display: flex;
  justify-content: space-between;
}

.copyright p {
  color: black;
  font-weight: 400;
  font-size: 1.6rem;
}
